/* line 3, ../_sass/_utilities.scss */
.clearfix {
  *zoom: 1;
}
/* line 22, ../../../../../usr/local/Cellar/ruby193/1.9.3-p545/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 5, ../_sass/layout/_header.scss */
#wrapper > header {
  *zoom: 1;
  background-color: #f0f0f0;
  padding: 1em 0;
}
/* line 22, ../../../../../usr/local/Cellar/ruby193/1.9.3-p545/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#wrapper > header:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 11, ../_sass/layout/_header.scss */
#wrapper > header h1 {
  float: left;
  font-family: "Montez", cursive;
  font-size: 3em;
  left: -.1em;
  margin: 0 0.6em;
  position: relative;
}
/* line 20, ../_sass/layout/_header.scss */
#wrapper > header nav {
  float: right;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: .08em;
  margin-right: 1.2em;
  text-transform: uppercase;
}
/* line 29, ../_sass/layout/_header.scss */
#wrapper > header nav ul {
  *zoom: 1;
  margin: 1.5em 0 0;
  padding: 0;
}
/* line 22, ../../../../../usr/local/Cellar/ruby193/1.9.3-p545/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#wrapper > header nav ul:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 35, ../_sass/layout/_header.scss */
#wrapper > header nav li {
  display: block;
  float: left;
  margin-left: 1.2em;
}
/* line 41, ../_sass/layout/_header.scss */
#wrapper > header nav a, #wrapper > header nav a:visited {
  color: #535353;
}
/* line 46, ../_sass/layout/_header.scss */
#wrapper > header a {
  text-decoration: none;
}
/* line 49, ../_sass/layout/_header.scss */
#wrapper > header a, #wrapper > header a:visited {
  color: #202020;
}

/* line 3, ../_sass/layout/_footer.scss */
html, body, #wrapper {
  height: 100%;
}

/* line 7, ../_sass/layout/_footer.scss */
body > #wrapper {
  height: auto;
  min-height: 100%;
}

/* line 12, ../_sass/layout/_footer.scss */
#wrapper {
  margin-bottom: -5em;
}
/* line 15, ../_sass/layout/_footer.scss */
#wrapper:after {
  content: "";
  display: block;
  height: 5em;
}

/* line 22, ../_sass/layout/_footer.scss */
body > footer {
  *zoom: 1;
  background-color: #f0f0f0;
  color: #535353;
  height: 5em;
}
/* line 22, ../../../../../usr/local/Cellar/ruby193/1.9.3-p545/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body > footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 28, ../_sass/layout/_footer.scss */
body > footer .content {
  padding-top: 1.5em;
}
/* line 32, ../_sass/layout/_footer.scss */
body > footer aside {
  float: left;
  margin-left: 1.5em;
}
/* line 37, ../_sass/layout/_footer.scss */
body > footer small {
  font-size: 1em;
}
/* line 41, ../_sass/layout/_footer.scss */
body > footer nav {
  float: right;
  margin-right: 1.5em;
}
/* line 45, ../_sass/layout/_footer.scss */
body > footer nav ul {
  margin: 0;
}
/* line 49, ../_sass/layout/_footer.scss */
body > footer nav li {
  float: left;
  list-style-type: none;
  margin-left: 1.5em;
}
/* line 56, ../_sass/layout/_footer.scss */
body > footer a {
  text-decoration: none;
}
/* line 60, ../_sass/layout/_footer.scss */
body > footer, body > footer a, body > footer a:visited {
  color: #6d6d6d;
}

/* line 4, ../_sass/layout/_layout.scss */
body {
  background: #f0f0f0;
}

/* line 8, ../_sass/layout/_layout.scss */
#wrapper {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(640px, #ffffff), color-stop(640px, #202020), color-stop(100%, #202020));
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff 640px, #202020 640px, #202020 100%);
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff 640px, #202020 640px, #202020 100%);
  background-image: -o-linear-gradient(left, #ffffff, #ffffff 640px, #202020 640px, #202020 100%);
  background-image: linear-gradient(left, #ffffff, #ffffff 640px, #202020 640px, #202020 100%);
}

/* line 13, ../_sass/layout/_layout.scss */
main {
  *zoom: 1;
  display: table;
}
/* line 22, ../../../../../usr/local/Cellar/ruby193/1.9.3-p545/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
main:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 18, ../_sass/layout/_layout.scss */
.content {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* line 24, ../_sass/layout/_layout.scss */
main > article {
  display: table-cell;
  padding-bottom: 1.5em;
  vertical-align: top;
  width: 640px;
}
/* line 30, ../_sass/layout/_layout.scss */
main > article > div {
  padding: 0 1.5em;
}

/* line 35, ../_sass/layout/_layout.scss */
main > aside {
  color: #999999;
  display: table-cell;
  padding-bottom: 1.5em;
  padding-top: 2em;
  vertical-align: top;
  width: 320px;
}
/* line 43, ../_sass/layout/_layout.scss */
main > aside h3 {
  background-color: rgba(255, 255, 255, 0.2);
  font-family: Helvetica;
  font-size: 1.16em;
  font-weight: normal;
  letter-spacing: .15em;
  line-height: 1em;
  margin: 1em 0;
  text-align: center;
  text-transform: uppercase;
}
/* line 54, ../_sass/layout/_layout.scss */
main > aside h3:first-child {
  margin-top: 0;
}
/* line 58, ../_sass/layout/_layout.scss */
main > aside h3 span {
  background-color: #202020;
  color: #ddd;
  padding: 0 1em;
  position: relative;
  top: 1px;
}
/* line 67, ../_sass/layout/_layout.scss */
main > aside > div {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
/* line 72, ../_sass/layout/_layout.scss */
main > aside h3 {
  margin-left: 1.2931em;
  margin-right: 1.2931em;
}

/* line 78, ../_sass/layout/_layout.scss */
article > header {
  background-color: #00bd9a;
  color: rgba(255, 255, 255, 0.95);
  font-family: "Voces";
  margin-bottom: 1.5em;
  padding: 1.5em;
}
/* line 86, ../_sass/layout/_layout.scss */
article > header h1 {
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 .3em;
}
/* line 92, ../_sass/layout/_layout.scss */
article > header p {
  font-size: 15px;
  margin: 0;
}
/* line 97, ../_sass/layout/_layout.scss */
article > header em {
  font-size: 1.08em;
  color: white;
  font-style: normal;
  letter-spacing: .03em;
}

/* line 9, ../_sass/main.scss */
body {
  font-family: "Lucida Grande", sans-serif;
  font-size: 62.5%;
}

/* line 14, ../_sass/main.scss */
#wrapper, body > footer {
  font-size: 1.2em;
}

/* line 18, ../_sass/main.scss */
h1, h2, h3, h4, h5, h6, p, div, li {
  line-height: 1.5em;
}

/* line 22, ../_sass/main.scss */
a, a:visited {
  color: #00BD9A;
}

/* line 26, ../_sass/main.scss */
article li {
  margin: .4em 0 0;
}

/* line 30, ../_sass/main.scss */
.bigger {
  font-size: 14px;
}

/* transition: all 0.2s linear 0s; */
/* line 35, ../_sass/main.scss */
#recent-projects {
  text-align: center;
}
/* line 38, ../_sass/main.scss */
#recent-projects ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* line 44, ../_sass/main.scss */
#recent-projects li {
  display: block;
  margin: 0 0 1.5em;
  padding: 0;
  /* just for testing */
}
/* line 49, ../_sass/main.scss */
#recent-projects li a {
  display: block;
  height: 170px;
  overflow: hidden;
  position: relative;
  width: 284px;
}
/* line 59, ../_sass/main.scss */
#recent-projects li a:after {
  border: 6px solid rgba(0, 0, 0, 0.4);
  content: "";
  display: block;
  height: 158px;
  left: 0;
  position: absolute;
  top: 0;
  width: 272px;
}
/* line 71, ../_sass/main.scss */
#recent-projects li:first-child img {
  position: relative;
  top: -73px;
}
/* line 76, ../_sass/main.scss */
#recent-projects li:nth-child(2) img {
  left: -223px;
  position: relative;
  top: -73px;
}
/* line 82, ../_sass/main.scss */
#recent-projects li:nth-child(3) img {
  left: -40px;
  position: relative;
  top: -14px;
}
/* line 89, ../_sass/main.scss */
#recent-projects .button {
  padding-left: 4em;
  padding-right: 4em;
}

/* line 95, ../_sass/main.scss */
.button {
  background-color: #00bd9a;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  font-size: 1.16em;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
}
/* line 104, ../_sass/main.scss */
.button, .button:visited {
  color: white;
}
