---
body_id: resume
layout: two_columns
title: CV
---

<article>
  <header><h1><em>Curriculum vitae</em></h1></header>
  <div>
    <section>
      <h3>Status in Australia</h3>
      <div style="font-size: 1.15em;">Permanent residency</div>
    </section>
    <section>
      <h3>Professional Experience</h3>
      <ul class="no-bullets">
        {% for job in site.data.jobs %}
          <li>
            <h4>{{ job.title }}</h4>
            <div class="resume-item-data">
              <strong>{{ job.company }}</strong>
              {% if job.location %}<em>{{ job.location }}</em>{% endif %}
              <span>{{ job.started|date:"%b %Y" }} &mdash; {{ job.finished|date:"%b %Y" }}</span>
            </div>
            {% if job.desc %}
              <p>{{ job.desc }}</p>
            {% endif %}
            <div class="resume-item-desc">
              <ul class="no-bullets">
                {% for resp in job.responsibilites %}
                  <li>{{ resp }}</li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h3>Education</h3>
      <ul class="no-bullets">
        {% for item in site.data.education %}
          <li>
            <h4>{{ item.title }}</h4>
            <div class="resume-item-data">
              <strong>{{ item.uni }}</strong>
              <em>{{ item.location }}</em>
              <span>{{ item.started|date:"%b %Y" }} &mdash; {{ item.finished|date:"%b %Y" }}</span>
            </div>
            <div class="resume-item-desc">
              <ul class="no-bullets">
                {% for desc in item.description %}
                  <li>{{ desc }}</li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h3>Command of English</h3>
      <ul>
        <li><strong>Fluent</strong>: IELTS 8 out of 9</li>
        <li>Professional communication in English: 5 years</li>
      </ul>
    </section>
  </div>
</article>

<aside>
  <div id="resume-aside">
    <section>
      <h3><span>PDF Version</span></h3>
      <p>My CV is also available in PDF format.</p>
      <div class="button-block">
        <a href="/resume/Svetlana%20Nikitina%20-%20Front-end%20web-developer%20-%20CV.pdf" class="button">Download PDF version</a>
      </div>
    </section>
    <section>
      <h3><span>Contact</span></h3>
      {% include contact_list.html %}
    </section>
  </div>
</aside>
