@import "compass";

@import "setup";
@import "utilities";
@import "layout/layout";

$headerColor: #0090D2;

body {
  font-family: $fontFamily;
  font-size: 62.5%;
}

#wrapper, body > footer {
  font-size: $fontSize;
}
