#recent-projects {
  text-align: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    margin: 0 0 $commonPadding;
    padding: 0;

    a {
      display: block;
      height: 175px;
      overflow: hidden;
      position: relative;
      width: 284px;
    }

    $projectBorderWidth: 4px;

    a:after {
      border: $projectBorderWidth solid rgba(#000, .4);
      content: "";
      display: block;
      height: 175px - 2 * $projectBorderWidth;
      left: 0;
      position: absolute;
      top: 0;
      width: 284px - 2 * $projectBorderWidth;
    }
  }

  .button {
    padding-left: 4em;
    padding-right: 4em;
  }
}

#qualifications {
  font-size: 14px;

  p:nth-child(1), p:nth-child(2) {
    font-size: 1.15em;
  }

  em {
    font-style: normal;
    font-weight: bold;
  }

  .green-bullets {
    margin-bottom: 1.5em;
  }

  .contact-list {
    margin-bottom: 0;
    margin-top: -.5em;
    padding-left: 1px;

    li {
      margin: 0;
    }
  }
}

@media screen and (max-device-width: 960px) {

  #recent-projects li a {
    margin-left: auto;
    margin-right: auto;
  }
}
