#recent-projects {
  text-align: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    margin: 0 0 $commonPadding;
    padding: 0;

    a {
      display: block;
      height: 170px;
      overflow: hidden;
      position: relative;
      width: 284px;
    }

    $projectBorderWidth: 4px;

    a:after {
      border: $projectBorderWidth solid rgba(#000, .4);
      content: "";
      display: block;
      height: 170px - 2 * $projectBorderWidth;
      left: 0;
      position: absolute;
      top: 0;
      width: 284px - 2 * $projectBorderWidth;
    }

    img {
      @include scale(0.5);
    }

    /* just for testing */
    &:first-child img {
      position: relative;
      //top: -73px;
      top: -261px;
      left: -360px;
    }

    &:nth-child(2) img {
      //left: -223px;
      position: relative;
      //top: -73px; 
      left: -455px;
      top: -260px;
    }

    &:nth-child(3) img {
      //left: -40px;
      position: relative;
      //top: -14px; 
      left: -280px;
      top: -186px;
    }
  }

  .button {
    padding-left: 4em;
    padding-right: 4em;
  }
}

#qualifications {
  font-size: 14px;

  p:nth-child(1), p:nth-child(2) {
    font-size: 1.15em;
  }

  em {
    font-style: normal;
    font-weight: bold;
  }

  .green-bullets {
    margin-bottom: 1.5em;
  }

  .contact-list {
    margin-bottom: 0;
    margin-top: -.5em;
    padding-left: 1px;

    li {
      margin: 0;
    }
  }
}
