$projectBorderWidth: 4px;

#projects {
  margin: -$commonPadding 0;

  > li {
    clear: both;
    margin: 0 -18px;
    min-height: 180px;
    overflow: hidden;
    padding: $commonPadding $commonPadding 0;
  }

  h3 {
    float: left;
  }

  h3, h4 {
    margin-top: 0;
  }

  .num {
    $numRadius: 16px;
    background-color: lighten($footerBgColor, 70%);
    @include border-radius($numRadius);
    color: $mainBgColor;
    display: inline-block;
    float: right;
    font-size: $numRadius * 1.2;
    font-weight: bold;
    height: 2 * $numRadius;
    line-height: 2 * $numRadius;
    text-align: center;
    width: 2 * $numRadius;
  }

  .resume-item-data {
    clear: both;
  }

  .screenshot {
    background: #202020;
    clear: both;
    margin: 18px -18px 0;
    overflow: hidden;
    padding: 18px;

    li {
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      width: 49%;

      &:nth-child(2n+1) {
        margin-right: 2%;
      }

      a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 547px;
        overflow: hidden;
        position: relative;
      }

      $projectBorderWidth: 5px;

      a:after {
        @include box-shadow(inset 0 0 0 $projectBorderWidth rgba(#000, .4));
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  .technologies {
    list-style-type: disc;
  }
}

@media screen and (max-width: 500px) {

  #projects .screenshot li {
    float: none;
    margin-right: 0;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: $commonPadding;
    }
  }
}