#resume {

  article {

    section {

      > .no-bullets > li {
        margin-bottom: 1.5em;
      }

      ul ul {
        list-style-type: disc;
        padding-left: 2em;
      }

      &:last-child ul {
        padding-left: 2em;
      }
    }
  }
}

#resume-aside {

  // uncomment for fixed positioning
  // position: fixed;
  // top: (4em + 3em * $lineHeight / 1em) * $fontSize / 1em / 1em * 10px;
  // width: $contentWidth - ($contentWidth / 3 * 2) - 2 * $commonPadding;

  p {
    font-size: 1.083em;
  }

  .button-block {
    margin-top: 1.5em;
    text-align: center;
  }
}

.resume-item-data {
  color: #777;
  margin-bottom: .75em;

  strong {
    color: $green;
  }

  em {
    border-left: 1px solid #bbb;
    font-style: normal;
    margin-left: .5em;
    padding-left: .75em;
  }

  span {
    border-left: 1px solid #bbb;
    font-style: normal;
    margin-left: .5em;
    padding-left: .75em;
  }
}
