---
body_id: resume
layout: two_columns
title: Resume
---

<article>
  <header><h1><em>Resume</em></h1></header>
  <div>
    <section>
      <h3>Professional Experience</h3>
      <ul class="no-bullets">
        {% for job in site.data.jobs %}
          <li>
            <h4>{{ job.title }}</h4>
            <div class="resume-item-data">
              <strong>{{ job.company }}</strong>
              <em>{{ job.location }}</em>
              <span>{{ job.started|date:"%b, %Y" }} &mdash; {{ job.finished|date:"%b, %Y" }}</span>
            </div>
            <div class="resume-item-desc">
              <ul class="no-bullets">
                {% for resp in job.responsibilites %}
                  <li>{{ resp }}</li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h3>Education</h3>
      <ul class="no-bullets">
        {% for item in site.data.education %}
          <li>
            <h4>{{ item.title }}</h4>
            <div class="resume-item-data">
              <strong>{{ item.uni }}</strong>
              <em>{{ item.location }}</em>
              <span>{{ item.started|date:"%b, %Y" }} &mdash; {{ item.finished|date:"%b %Y" }}</span>
            </div>
            <div class="resume-item-desc">
              <ul class="no-bullets">
                {% for desc in item.description %}
                  <li>{{ desc }}</li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h3>Applications and Technologies</h3>
      <ul>
        <li>Programming languages — Python, PHP, JavaScript</li>
        <li>Web and JavaScript frameworks — Django, Ruby on Rails, jQuery, Mochikit, Prototype</li>
        <li>DBMS — MySQL, Postgresql</li>
        <li>Graphic editors — Adobe Photoshop, GIMP</li>
        <li>Version control system — Git, Mercurial, SVN</li>
        <li>Development environment — Sublime, Textmate, IntelliJ IDEA, Eclipse</li>
        <li>User experience — MacOS, Linux (Ubuntu), Windows</li>
      </ul>
    </section>

    <section>
      <h3>Languages</h3>
      <ul>
        <li>English (fluent)</li>
        <li>Russian (native)</li>
        <li>German (basic)</li>
        <li>Czech (basic)</li>
      </ul>
    </section>
  </div>
</article>

<aside>
  <div id="resume-aside">
    <section>
      <h3><span>PDF Version</span></h3>
      <p>My resume is also available in PDF format.</p>
      <div class="button-block">
        <a href="#" class="button">Download PDF version</a>
      </div>
    </section>
    <section>
      <h3><span>Contact</span></h3>
      {% include contact_list.html %}
    </section>
  </div>
</aside>
