<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link href="http://fonts.googleapis.com/css?family=Montez|Voces" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body {% if page.extra_body_class %}class="{{ page.extra_body_class }}"{% endif %} {% if page.body_id %}id="{{ page.body_id }}{% endif %}">
    <div id="wrapper" class="content">

      {% include header.html %}

      <main>
        {{ content }}
      </main>
    </div>

    {% include footer.html %}

  </body>
</html>
