$footerHeight: 5em;

html, body, #wrapper {
  height: 100%;
}

body > #wrapper {
  height: auto;
  min-height: 100%;
}

#wrapper {
  margin-bottom: -$footerHeight;

  &:after {
    content: "";
    display: block;
    height: $footerHeight;
  }
}

body > footer {
  @include legacy-pie-clearfix;
  background-color: $footerBgColor;
  color: $mainBgColor;
  height: $footerHeight;

  aside {
    float: left;
  }

  small {
    font-size: 1em;
  }

  nav {
    float: right;

    li {
      float: left;
      list-style-type: none;
      margin-left: 1em;
    }
  }

  a {
    text-decoration: none;

    &, &:visited {
      color: $mainBgColor;
    }
  }
}
