$headerFontSize: 3em;
$navFontSize: 1em;//.16em;


#wrapper > header {

  @include legacy-pie-clearfix;
  background-color: $bodyBgColor;
  padding: 1em 0;

  h1 {
    float: left;
    font-family: "Montez", cursive;
    font-size: $headerFontSize;
    left: -.1em;
    margin: 0 ($fontSize / $headerFontSize * $commonPadding);
    position: relative;
  }

  nav {

    float: right;
    font-size: $navFontSize;
    font-weight: bold;
    letter-spacing: .08em;
    margin-right: ($fontSize / $navFontSize * 1em);
    text-transform: uppercase;

    ul {
      @include legacy-pie-clearfix;
      margin: ($headerFontSize - $navFontSize) / 2em * $lineHeight 0 0;
      padding: 0;
    }

    li {
      display: block;
      float: left;
      margin-left: ($fontSize / $navFontSize * 1em);
    }

    a, a:visited {
      color: lighten($textColor, 20%);
    }
  }

  a {
    text-decoration: none;

    &, &:visited {
      color: $textColor;
    }
  }
}
