$headerFontSize: 3em;
$headerNavFontSize: 1em;


body > div > header {

  @include legacy-pie-clearfix;
  background-color: $bodyBgColor;
  padding: 1em 0;

  h1 {
    float: left;
    font-family: "Montez", cursive;
    font-size: $headerFontSize;
    left: -.1em;
    margin: 0 $commonPadding;
    position: relative;

    a:hover {
      color: $textColor !important;
    }
  }

  nav {

    float: right;
    font-size: $headerNavFontSize;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: $commonPadding;
    text-transform: uppercase;

    ul {
      @include legacy-pie-clearfix;
      margin: ($headerFontSize - $headerNavFontSize) / 2em * $lineHeight 0 0;
      padding: 0;
    }

    li {
      display: block;
      float: left;
      margin-left: 1.1em;
    }

    a, a:visited {
      color: lighten($textColor, 20%);
    }
  }

  a {
    text-decoration: none;

    &, &:visited {
      color: $textColor;
    }
  }
}
