@import "layout/header";
@import "layout/footer";


body {
  background: $bodyBgColor;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: $contentWidth;
}


/* Default layout with one column ----------------------------------------- */
#wrapper {
  background: $mainBgColor;
}

main {

  > article, > aside {

    padding: $commonPadding 0;

    > div, > section {
      padding: 0 $commonPadding;
    }
  }
}


/* Two-column layout ------------------------------------------------------ */
.two-columns {

  #wrapper {
    background-color: transparent; /* Fallback for the browsers that do
                                      not support CSS3 gradients */
    @include background-image(linear-gradient(left, $mainBgColor,
      $mainBgColor 640px, $footerBgColor 640px, $footerBgColor 100%));
  }

  main {
    display: table;

    > article, > aside {
      display: table-cell;
      vertical-align: top;
    }

    > article {
      background-color: $mainBgColor; /* Fallback for the browsers that do
                                         not support CSS3 gradients */
      width: $contentWidth / 3 * 2;
    }

    > aside {
      background-color: $footerBgColor; /* Fallback for the browsers that do
                                           not support CSS3 gradients */
      width: $contentWidth - ($contentWidth / 3 * 2);
    }
  }
}
